.idea
.vscode
.packages
.pub
build
ios/.generated
.packages
.android/.idea
android/app/google-services.json
ios/GoogleService-Info.plist
.flutter-plugins-dependencies
.flutter-plugins
.DS_Store
.dart_tool
 android/app/google-services.json
ios/GoogleService-Info.plist
android/key.properties
android/app/androidkey.jks
