<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>912447486628-9281betd1hkjjcb5jqmruu9kmc4uv1fa.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.912447486628-9281betd1hkjjcb5jqmruu9kmc4uv1fa</string>
	<key>API_KEY</key>
	<string>AIzaSyBnv80OpTyuNaAa1mLDh5wAaH8lV0G0efI</string>
	<key>GCM_SENDER_ID</key>
	<string>912447486628</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.azkar</string>
	<key>PROJECT_ID</key>
	<string>azkar-7fd41</string>
	<key>STORAGE_BUCKET</key>
	<string>azkar-7fd41.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:912447486628:ios:72727b1b1ff8331f410431</string>
</dict>
</plist>